.container{
     display: grid;
     border: 2px solid black;
     height: 500px;
     width: 1400px;
     margin: 50px;
     padding: 30px;
     background-color: rgb(25, 45, 62);
}
.col-lg-4{
    border: 1px solid white;
}
.card{
    border: 2px solid black;
    height: 400px;
    margin-top: 15px;
}
.card-body{
    background-image: linear-gradient(90deg,rgb(186, 181, 140),rgb(52, 49, 49));
}
.card-img{
    border: 2px splid black;
    height: 100px;
    width: 100px;
} 
.text{
    text-align: center;
}
.card-header{
    background-color: black;
    color: white;
    text-align: center;
}
